html {
    font-size: 10px;
    font-family: YSText-Regular, sans-serif;
}
body {
    font-feature-settings: "liga", "kern";
    box-sizing: border-box;
}
h2 {
    font-family: YSDisplay-Heavy, sans-serif;
    font-size: 1.9rem;
    margin: 0 0 1rem;
}
img {
    width: 100%;
}
.description {
    font-size: 1.4rem;
}
.logo {
    width: 68.75%;
    margin: 43px auto;
}
.logo > img {
    max-width: 134px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    width: 68.75%;
    max-width: 1980px;
    margin: auto auto;
}
.grid__card {
    overflow: hidden;
    position: relative;
}
.grid__card.size_s {
    grid-column: span 2;
}
.grid__card.size_m {
    grid-column: span 3;
}
.grid__card.size_l {
    grid-column: span 6;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-column-gap: 16px;
    grid-template-areas:
            'i i h'
            'i i c'
            'i i c'
            'i i c'
            'i i c' /*  ¯\_(ツ)_/¯  */
            'i i c'
            'i i c'
            'i i c'
            'i i c'
            'i i c';
}
.grid__card.size_l > img {
    grid-area: i;
}
.grid__card.size_l > h2 {
    grid-area: h;
}
.grid__card.size_m > h2, .grid__card.size_s > h2 {
    font-size: 1.7rem;
}
.grid__card.size_l > .description {
    grid-area: c;
    position: relative;
}
.grid__card.size_m > .description {
    position: relative;
    padding-right: 30px;
}
.card__actions-wrapper {
    position: relative;
}
.card__actions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border: 10px solid transparent;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
.card__actions-wrapper > .card__actions, .grid__card.size_m .card__actions {
    right: 10px;
    top: 0;
    height: 100%;
    width: 20px;
    flex-direction: column;
}
.card__actions .like {
    margin: 0 0 0 auto;
}
.card__actions-wrapper > .card__actions .like, .grid__card.size_m .card__actions .like {
    margin: auto 0 0;
}
.like {
    background: url("Heart.png") center/cover;
    width: 17px;
    height: 16px;
}
.more {
    background: url("Actions.png") center/cover;
    width: 14px;
    height: 4px;
}
.more:hover, .like:hover {
    cursor: pointer;
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
}
.channel + .more {
    position: absolute;
    right: 35px;
}
@media screen and (min-width: 1280px) {
    html {
        font-size: 11px;
    }
    .logo, .grid {
        width: calc(100% - 320px);
    }
}
@media screen and (min-width: 1600px) {
    html {
        font-size: 15px;
    }
    .more, .like {
        transform: scale(1.5);
    }
    .grid__card:not(.size_m) .card__actions {
        padding: 15px;
    }
    .channel + .more {
        position: absolute;
        right: 53px;
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 10px;
    }
}
@media screen and (max-width: 988px) {
    html {
        font-size: 9px;
    }
    .logo > img {
        max-width: 90px;
    }
    .grid__card.size_l {
        grid-template-areas:
                'h h h'
                'i i i'
                'c c c';
        grid-row-gap: 16px;
    }
    .grid__card.size_l .card__actions {
        right: 0;
        top: 0;
        height: 100%;
        width: 20px;
        flex-direction: column;
        border: 0 solid transparent;
    }
    .grid__card.size_l .description {
        min-height: 25px;
        padding-right: 20px;
    }
    .grid__card.size_l .card__actions .like {
        margin-top: auto;
        margin-left: 0;
    }
    .grid__card.size_s .description .card__actions {
        position: relative;
        border: 0;
    }
}
@media screen and (max-width: 748px) {
    html {
        font-size: 9px;
    }
    .grid__card.size_m {
        grid-column: span 3;
        grid-row: span 2;
    }
    .grid__card.size_s {
        grid-column: span 3;
    }
    .grid {
        grid-auto-flow: dense;
    }
}
@media screen and (max-width: 640px) {
    .logo, .grid {
        width: 87%;
    }
}
@media screen and (max-width: 442px) {
    html {
        font-size: 13px;
    }
    .logo, .grid {
        width: 98%;
    }
    .grid__card.size_l {
        grid-row: span 3;
    }
    .grid__card.size_m {
        grid-column: span 6;
        grid-row: span 2;
    }
    .grid__card.size_s {
        grid-column: span 6;
    }
    .grid__card.size_s .card__actions:not(.card__actons_bottom) {
        right: 0;
        top: 0;
        height: 100%;
        width: 20px;
        flex-direction: column;
    }
    .grid__card.size_s .description {
        min-height: 25px;
        padding-right: 20px;
        position: relative;
    }
    .grid__card.size_s .card__actions:not(.card__actons_bottom) .like {
        margin-top: auto;
        margin-left: 0;
    }
    .grid__card.size_s .card__actions-wrapper > .card__actions:not(.card__actons_bottom) {
        right: 10px;
    }
}